.backHomeIcon {
  justify-content: left !important;
}

.button-delete {
  background-color: #dc3545 !important;
  color: rgba(255,255,255,0.9);
  margin-top: 10px;
}

.button-delete2 {
  background-color: #dc3545 !important;
  color: rgba(255,255,255,0.9);
}

.button-edit{
margin: 20px;
margin-left: 45px;
}

.button-edit3 {
  margin: 20px;
  margin-top: 10px;
}

.deck-input {
  border: none;
  border-bottom: 3px solid #057191 !important;
}

.deck-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.deck-new {
  border: none;
  border-bottom: 3px solid #057191 !important;
  margin-bottom: 30px;
}

.delete-button {
  color: rgba(255,255,255,0.9) !important;
}

.form-wrapper2 {
  align-items: center;
  background-color: fefefe;
  border-radius: 6px;
  box-shadow: 0 8px 36px 222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80%;
  min-height: 400px;
  min-width: 100px;
  padding: 20px 40px;
  width: 400px;
}

.form-wrapper2 h3 {
  font-family: 'Quicksand', sans-serif;
  padding: 20px;
}

.goBack {
  color: #DB755C;
  margin-left: 0.5em;
  margin-top: 1em;
}

.wrapper{
  height: 80vh;
}

@media screen and (max-width: 576px) {

  h1 {
    font-size: 1.9rem;
  }

  .add-deck {
    margin-top: 3rem;
  }

  .container {
    display: block;
    overflow: scroll;
    padding-left: 0;
    padding-right: 0;

  }

  .deck-container {
    height: auto;
    overflow: auto;
    width: 98%;
    word-break: break-word;
  }
}

@media screen and (max-width: 420px) {

  h3{
    font-size: 1.3rem;
  }

  .add-deck {
    font-size: 1rem;
  }

  .deckHeading {
    font-size: 1.5rem;
  }

  .deck-name h2 {
    font-size: 1.2rem;
  }

  .deck-edit {
    font-size: 1.1rem;
  }

  .deckRename{
    overflow: auto;
    width: 200px;
  }

  .form-wrapper2 h3{
    font-size: 1.1rem;
  }

}
