.backHomeIcon {
  justify-content: left !important;
}

.button-delete {
  background-color: #dc3545;
  color: rgba(255,255,255,0.9);
  margin-top: 10px;
}

.button-delete2 {
  background-color: #dc3545;
  color: rgba(255,255,255,0.9);
}

.button-edit{
margin: 20px;
margin-left: 45px;
}

/* .button-edit2 {
  margin: 10px;
} */

.button-edit3 {
  margin: 20px;
  margin-top: 10px;
}

.deck-input {
  border: none;
  border-bottom: 3px solid #057191;
}

.deck-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.deck-new {
  border: none;
  border-bottom: 3px solid #057191;
  margin-bottom: 30px;
}

.delete-button {
  color: rgba(255,255,255,0.9);
}

.form-wrapper2 {
  align-items: center;
  background-color: fefefe;
  border-radius: 6px;
  box-shadow: 0 8px 36px 222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80%;
  min-height: 400px;
  min-width: 100px;
  padding: 20px 40px;
  /* width: 350px; */
}

.form-wrapper2 h3 {
  font-family: 'Quicksand', sans-serif;
  padding: 20px;
}

.goBack {
  color: #DB755C;
  margin-left: 0.5em;
  margin-top: 1em;
}

.wrapper{
  height: 80vh;
}
