@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Imprima|Knewave|Montserrat|Quicksand:400,500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a {
  // color: #DB755C;
}

html {
  font-size: 100%;
}

body {
  background-color: #057191;
  color: #33363b;
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  background-color: #f5f5f5;
  background-image: url("https://www.transparenttextures.com/patterns/cream-paper.png");
  color: #33363b;
  height: 90%;
  margin: 0 auto;
  margin-bottom: 2.5em;
  margin-top: 0;
  max-width: 1600px;
  width: 95%;
}

a:hover {
  text-decoration: none;
}

.add-deck {
  margin-top: 6rem;
  color: #DB755C;
}

.add-deck:hover {
  color: #057191;
}

.add-deck p {
  font-size: 1.4rem;
}

.add-deck, .add-card, .edit-card, .go-home {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.article {
  padding-left: 3em;
  padding-top: 1em;
}

.btn {
  background-color: #DB755C;
  border-color: #DB755C;
}

.btn:hover {
  background-color: #057191;
  border-color: #057191;
}

.deck-container {
  // border: solid;
  border-collapse: separate;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);

  height: 4rem;
  margin: 30px auto;
  padding: 0 25px;
}

.deck-edit {
  // color: #DB755C;
  display: flex;
  font-size: 1.3rem;
  justify-content: flex-end;
  margin: 10px;
  position: relative;
}

.deckHeading {
 align-items: flex-start;
 display: flex;
 font-family: 'Quicksand', sans-serif;
 justify-content: center;
 // margin-top: 2em;
 padding-top: 1em;
}

.deckHeading h1 {
  margin-top: 2em;
}

.deck-item {
  align-items: center;
  align-self: flex-start;
  color: #057191;
  flex-direction: vertical;
}

.deck-item a {
color: #057191;
}

.deck-name{
  // align-content: center
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.form-wrapper {
  align-items: center;
  background-color: fefefe;
  border-radius: 6px;
  box-shadow: 0 8px 36px 222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80%;
  min-height: 400px;
  min-width: 100px;
  padding: 20px 40px;
  // width: 280px;
}

.form-wrapper h3, .form-wrapper2 h3 {
  padding: 20px;
}

.landing{
  height: 700px;
  position: relative;
  width: 100%;
}

.landing h1 {
  display: flex;
  font-size: 12em;
  height: 60vh;
  justify-content: center;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
  transform: rotate(-28deg) translate(30px, 10px);
}

.landing h2 {
  padding-top: 1rem;
  padding-left: 1rem;
}

.landing h2, .landing p {
  font-family: 'Imprima', sans-serif;
  font-size: 3rem;
  position: relative;
}

// .navig-color {
//   color: #FFFFFF !important;
// }

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-text, .navbar-dark .navbar-brand {
  color: rgba(255, 255, 255, 0.9);
}

.nav-user {
  float: none;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

}

.navigation {
  background-color: #DB755C;
  box-shadow: -1px 2px 24px -5px rgba(0,0,0,0.6);
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  position: relative;
}

.tagline {
  bottom: 0;
  position: absolute;
  right: 1em;
}

.welcome {
  height: 90vh;
}



@media screen and (max-width: 768px) {
  .landing h1 {
    font-size: 9rem;
    margin-left: 6rem;
  }

  .landing h2, .landing p {
    font-size: 2.3rem;
  }

  .landing p {
    margin-bottom: 4rem;
  }

}

@media screen and (max-width: 576px) {

  .container {
    // align-items: center;
    // display: flex;
    // margin-top: 0;
    // top: 0;
    // height: 85vh;

    width: 80%;
  }


  .landing h1 {

    font-size: 7.5rem;
    margin-left: 4rem;
    transform: rotate(-28deg) translate(50px, -20px);
  }

  .landing h2, .landing p {
    font-size: 2rem;
    margin-top: 2rem;
  }

  .landing p {
    margin-bottom: 6rem;
  }

}

@media screen and (max-width: 420px) {

  body {
    width: 100%;
  }

  .article{
    margin-top: 0;
    padding-top: 0;
  }

  .container {
    align-items: center;
    display: flex;
    // height: 75vh;
    width: 80%;
  }

  .landing {
    height: 390px;
  }

  .landing h1 {
    font-size: 5.4rem;
    transform: rotate(-28deg) translate(90px, -90px);
  }

  .landing h2 {
    padding-top: 0;
  }

  .landing h2, .landing p {
    font-size: 1.5rem;

  }

  .navigation {
    width: 100%;
  }

  .tagline {
    margin-bottom: 0;
  }
}
